#habilidades {
    background-color: #141414;
    color: white;
}

.habilidades-pd {
    padding-top: 93px;
}

.habilidades-pd h2 { 
    text-align: center;
    padding-bottom: 70px;
}

.skills-descricao {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px;
    padding-bottom: 50px;
}

.conteiner-skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 100%;
}

.skill-box {
    height: 106px;
    width: 106px;
    background-color: #C4C4C4;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: ease 0.3s;
}

.imgBox200 {
  width: 200%;
}

.imgBox220 {
    width: 190%;
  }

.imgBox160 {
    width: 160%;
}

.skill-box:hover {
    background-color: white;
    transform: scale(1.05);
}

.conteiner-descricao {
    color: white;
    height: 100px;
    font-size: 20px;
    max-width: 40%;
}

.texto-descricao {
    text-align: justify;
}

@media (max-width:1200px) {

    .conteiner-descricao {
        height: 260px;
    }

    #habilidades {
        display: flex;
        justify-content: center;
    }

    .skills-descricao {
        display: flex;
        flex-direction: column-reverse;
        /* width: 535px; */
        margin: 0 auto;
        gap:50px;
        padding-bottom: 70px;
        align-items: center;
    }

    .skills-descricao p {
        text-align: justify;
    }

}

@media (max-width:950px) {
    .conteiner-skills {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 37px;
        max-width: 300px;
    }

    .conteiner-descricao {
        max-width: 300px;
    }

}
